<p>home works!</p>
<div class="container">                                                                                     
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Manager</th>
            <th>Title</th>
            <th>Skills</th>
            <th>Location</th>
            <th>Vacancy</th>
            <th>Description</th>
                
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Anna</td>
            <td>Pitt</td>
            <td>35skdfdnfkasjfnker kfnkwe kwenfkwbf</td>
            <td>New York</td>
            <td>USA</td>
            <td>Female</td>
            
          </tr>
          <tr>
              <td>2</td>
              <td>sbjr</td>
              <td>Pitt</td>
              <td>35</td>
              <td>New York</td>
              <td>USA</td>
              <td>Female</td>
              
            </tr>
        </tbody>
      </table>
    </div>
  </div>