<section id="contact" class="contact-section pt-100 pb-100 mt-100">
  <div class="col-md-6 offset-md-3">
    <div class="section-title mb-60">
      <h1 class="mb-15">Update Opportunity </h1>
    </div>
    <form  id="contact-form" class="contact-form">
      <div class="row">
        <div class="col-md-6">
          Job Title
          <div class="single-form">
            <input type="text" [(ngModel)]="opportunity.title" class="form-input" id="name" name="name" placeholder="Job Title">
          </div>
        </div>
        <div class="col-md-6">
          Skills
          <div class="single-form">
            <input type="email" [(ngModel)]="opportunity.skills" class="form-input" id="email" name="email" placeholder="Skills">
          </div>
        </div>
        <div class="col-md-6">
          Vacancy
          <div class="single-form">
            <input type="number" [(ngModel)]="opportunity.vacancy"   min="1"  oninput="validity.valid||(value='');"
             class="form-input" id="number" name="number" placeholder="Vacancy">
          </div>
        </div>
        <div class="col-md-6">
          Location
          <div class="single-form">
            <input type="text" [(ngModel)]="opportunity.location" class="form-input" id="location" name="location" placeholder="Location">
          </div>
        </div>
        <div class="col-md-12">
          End Date
          <div class="single-form">
            <input type="date" [(ngModel)]="opportunity.endDate" class="form-input" id="subject" name="subject" placeholder="End Date">
          </div>
        </div>
        <div class="col-12">
          Description
          <div class="single-form">
            <textarea name="message" [(ngModel)]="opportunity.description" id="message" class="form-input" id="message" rows="5" placeholder="Description"></textarea>
          </div>
        </div>
      </div>

      <button
        type="submit" (click)="onSubmit()"
        class="btn btn-success main-btn btn-hover"
      >
        Update
      </button>
  
      <button class="btn btn-hover" (click)="onCancel()">Cancel</button>
    </form>
  </div>
  </section>
  



<!-- <section id="contact" class="contact-section pt-100 pb-100 mt-100">
  <div class="col-md-6 offset-md-3">
    <div class="row">
      <div class="col-md-6">
        <div class="single-form">
          <input
            type="text"
            [(ngModel)]="opportunity.title"
            class="form-input"
            id="name"
            name="name"
            placeholder="Job Title"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="single-form">
          <input
            type="email"
            [(ngModel)]="opportunity.skills"
            class="form-input"
            id="email"
            name="email"
            placeholder="Skills"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="single-form">
          <input
            type="number"
            [(ngModel)]="opportunity.vacancy"
            min="1"
            oninput="validity.valid||(value='');"
            class="form-input"
            id="number"
            name="number"
            placeholder="Vacancy"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="single-form">
          <input
            type="text"
            [(ngModel)]="opportunity.location"
            class="form-input"
            id="subject"
            name="subject"
            placeholder="Location"
          />
        </div>
      </div>
      <div class="col-md-12">
        <div class="single-form">
          <input
            type="date"
            [(ngModel)]="opportunity.endDate"
            class="form-input"
            id="subject"
            name="subject"
            placeholder="End Date"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="single-form">
          <textarea
            name="message"
            [(ngModel)]="opportunity.description"
            id="message"
            class="form-input"
            id="message"
            rows="5"
            placeholder="Description"
          ></textarea>
        </div>
      </div> -->
      <!-- <div>
    <div  id="contact-form" class="contact-form">
      <label>
        Title:
        <input
          class="form-control"
          required
          type="text"
          [(ngModel)]="opportunity.title"
        />
      </label>
  
      <label>
        Description:
        <input
          class="form-control"
          required
          type="text"
          [(ngModel)]="opportunity.description"
        />
      </label>
    </div>

    <div class="form-group">
      <label>
        Skills:
        <input
          class="form-control"
          required
          type="text"
          [(ngModel)]="opportunity.skills"
        />
      </label>
  
      <label>
        Location:
        <input
          class="form-control"
          required
          type="text"
          [(ngModel)]="opportunity.location"
        />
      </label>
    </div>

    <div class="form-group">
      <label>
        Vacancy:
        <input
          class="form-control"
          required="true"
          min="1"
          oninput="validity.valid||(value='');"
          type="number"
          [(ngModel)]="opportunity.vacancy"
        />
      </label>

      <label>
        End Date:
        <input
          class="form-control"
          required="true"
          type="date"
          [(ngModel)]="opportunity.endDate"
        />
      </label>
    </div> -->

      <!-- <button type="submit" (click)="onSubmit()" class="btn btn-success">
        Update
      </button>

      <button (click)="onCancel()">Cancel</button>
    </div>
  </div>
</section> -->
