/* .container {
    text-align: center;
    border: 7px solid blue;
    width : 30vw;
    height: 20vh;
    padding: 5%;
} */



h1  {
    text-align: center;
}

.b{
    text-align: center;
    margin-left: 35%;
    margin-top: 3%;
}